<div class="table-responsive table-recap">

    <div class="table-recap-wrapper">
        <h2 class="with-dot table-recap-title">
            <span>Sophia Dupont</span><span class="small" aria-label="née le 03 juin 2010">née le 03/06/2010</span>
        </h2>
    </div>
    <table role="presentation" class="table">
        <caption class="sr-only">Sophia Dupont née le 03/06/2010</caption>
        <thead class="sr-only">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Client</th>
                <th scope="col">Date de début de mission</th>
                <th scope="col">Date de fin de mission</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Givenchy</td>
                <td>28/05/2018</td>
                <td>29/05/2018</td>
                <td><b>200,00€</b></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Bébé cadum</td>
                <td>30/05/2018</td>
                <td>31/05/2018</td>
                <td><b>150,00€</b></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">3</th>
                <td colspan="3">Sous-total</td>
                <td id="tableRecapTotal_0"><b>350,00 €</b></td>
            </tr>
        </tfoot>
    </table>

    <div class="table-recap-wrapper">
        <h2 class="with-dot table-recap-title">
            <span>Sophia Dupont</span><span class="small" aria-label="née le 14 juillet 2010">née le 14/07/2010</span>
        </h2>
    </div>
    <table role="presentation" class="table">
        <caption class="sr-only">Michel Dupont née le 03/12/2010</caption>
        <thead class="sr-only">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Client</th>
                <th scope="col">Date de début de mission</th>
                <th scope="col">Date de fin de mission</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Givenchy</td>
                <td>28/05/2018</td>
                <td>29/05/2018</td>
                <td><b>200,00€</b></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Bébé cadum</td>
                <td>30/05/2018</td>
                <td>31/05/2018</td>
                <td><b>150,00€</b></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">3</th>
                <td colspan="3">Sous-total</td>
                <td id="tableRecapTotal_1"><b>350,00 €</b></td>
            </tr>
        </tfoot>
    </table>

    <div class="table-recap-total">
        <h3>
            Montant total du dépôt <span>700,00 €</span>
        </h3>
    </div>

</div>
