<div class="table-responsive">
    <table role="presentation" class="table table-bordered">
        <caption>Toutes les demandes de consignations</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    Nom du dossier
                    <button type="button" class="btn btn-actions btn-filters" title="Trier par nom de dossier">
                        <span class="icon-sort-table" aria-hidden="true"></span>
                        <span class="sr-only">Trier par nom de dossier</span>
                    </button>
                </th>
                <th scope="col">
                    Lorem
                    <button type="button" class="btn btn-actions btn-filters" title="Trier par [lorem]">
                        <span class="icon-sort-table" aria-hidden="true"></span>
                        <span class="sr-only">Trier par [lorem]</span>
                    </button>
                </th>
                <th scope="col">
                    Statut et état
                    <button type="button" class="btn btn-actions btn-filters" title="Trier par statut et état">
                        <span class="icon-sort-table" aria-hidden="true"></span>
                        <span class="sr-only">Trier par statut et état</span>
                    </button>
                </th>
                <th scope="col">
                    Actions
                    <button type="button" class="btn btn-actions btn-filters" title="Trier par actions">
                        <span class="icon-sort-table" aria-hidden="true"></span>
                        <span class="sr-only">Trier par actions</span>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" aria-describedby="statut01">Dupond Jean-Pierre</th>
                <td>Lorem</td>
                <td id="statut01">
                    <div class="dossier-status">
                        <span class="icon-traitement-en-cours" aria-hidden="true"></span>

                        <span class="sr-only">Dossier</span>
                        <p class="dossier-status-title">En cours de traitement : <span class="dossier-status-info">Pris en charge par un gestionnaire</span></p>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-actions" title="Télécharger le dossier [nom du dossier]">
                        <span class="icon-telecharger" aria-hidden="true"></span>
                        <span class="sr-only">Télécharger le dossier [nom du dossier]</span>
                    </button>
                    <button type="button" class="btn btn-actions" title="Modifier le dossier [nom du dossier]">
                        <span class="icon-modifier" aria-hidden="true"></span>
                        <span class="sr-only">Modifier le dossier [nom du dossier]</span>
                    </button>
                    <button type="button" class="btn btn-actions" title="Supprimer le dossier [nom du dossier]">
                        <span class="icon-supprimer" aria-hidden="true"></span>
                        <span class="sr-only">Supprimer le dossier [nom du dossier]</span>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row" aria-describedby="statut02">Jacob</th>
                <td>Lorem</td>
                <td id="statut02">
                    <div class="dossier-status text-success">
                        <span class="icon-demande-validee" aria-hidden="true"></span>

                        <span class="sr-only">Dossier</span>
                        <p class="dossier-status-title">Validé</p>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-actions" title="Télécharger le dossier [nom du dossier]">
                        <span class="icon-telecharger" aria-hidden="true"></span>
                        <span class="sr-only">Télécharger le dossier [nom du dossier]</span>
                    </button>
                    <button type="button" class="btn btn-actions" title="Modifier le dossier [nom du dossier]">
                        <span class="icon-modifier" aria-hidden="true"></span>
                        <span class="sr-only">Modifier le dossier [nom du dossier]</span>
                    </button>
                    <button type="button" class="btn btn-actions" title="Supprimer le dossier [nom du dossier]">
                        <span class="icon-supprimer" aria-hidden="true"></span>
                        <span class="sr-only">Supprimer le dossier [nom du dossier]</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>