.btn {
    text-decoration: none;
    text-transform: uppercase;
}

.btn-arrow {
    display: inline-flex;
    align-items: center;
    padding: 1.4rem 1.2rem;
    font-weight: 500;
    line-height: normal;

    @include icon(after, icon-arrow-long-right) {
        margin-left: 1rem;
        font-size: 2rem;
    }
}

.btn-link {
    padding: 0;
    text-decoration: underline;
    text-transform: none;
}

.btn-icon-left [class^='icon-'] {
    margin-right: 0.5rem;
}

.btn-icon-right [class^='icon-'] {
    margin-left: 0.5rem;
}