<form class="form">
    <div class="form-group">
        <div class="float-target-parent focused">
            <label for="exampleFormControlInputText100">Input text valid</label>
            <input type="text" class="form-control is-valid float-target" id="exampleFormControlInputText100" required value="Input valid">
        </div>
    </div>

    <div class="form-group form-group-invalid">
        <div class="float-target-parent focused">
            <label for="exampleFormControlInputText100Invalid">Input text invalid</label>
            <input type="text" class="form-control is-invalid float-target" id="exampleFormControlInputText100Invalid" required aria-describedby="invalid01" value="input invalid">
        </div>
        <div class="invalid-feedback" id="invalid01">
            <p>input invalid</p>
        </div>
    </div>
</form>