<div class="progress-wrapper">
    <div class="progress">
        <div class="progress-bar bg-secondary" role="progressbar" aria-valuemax="100" aria-valuemin="0" aria-describedby="progress01" aria-valuenow="25" style="width: 25%"></div>
    </div>
    <div class="progress-nb" id="progress01">25% effectué<span class="sr-only"> : de Titre du fichier.pdf</span></div>
</div>

<div class="progress-wrapper">
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-valuemax="100" aria-valuemin="0" aria-describedby="progress02" aria-valuenow="100" style="width: 100%"></div>
    </div>
    <div class="progress-nb" id="progress02">100% effectué<span class="sr-only"> : de Titre du fichier.pdf</span></div>
</div>