<div class="aw-row-padding-xs">
    <div class="aw-col-lg-62">
        .aw-col-lg-62 : 62%
    </div>
    <div class="aw-col-lg-38">
        .aw-col-lg-38 : 38%
    </div>
</div>

<div class="aw-row-padding-xs">
    <div class="aw-col-lg-38">
        .aw-col-lg-38 : 38%
    </div>
    <div class="aw-col-lg-62">
        .aw-col-lg-62 : 62%
    </div>
</div>