<div class="block-bordered border">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni laboriosam corrupti, cum vitae alias molestias harum possimus voluptatem magnam natus ratione eius aspernatur debitis quisquam officiis ipsa quia, aut necessitatibus.</p>
</div>