<div class="block-upload-file--uploaded">
    <h3 class="block-upload-file--uploaded-title">Agrément préfectoral</h3>

    <div class="block-upload-file--uploaded-rename">
        <button type="button" class="btn btn-link btn-icon-left">
            <span class="icon-chevron-right" aria-hidden="true"></span>Renommer
            <span class="sr-only">le fichier : Agrément préfectoral</span>
        </button>
    </div>

    <div class="block-upload-file--uploaded-item">
        <div class="block-upload-file--uploaded-img">
            <img src="img/126x169.png" alt="">

            <button type="button" class="block-upload-file--uploaded-img-btn btn btn-secondary" title="Agrandir la prévisualisation du document Agrément préfectoral">
                <span class="icon-recherche" aria-hidden="true"></span>
                <span class="sr-only">Agrandir la prévisualisation du document Agrément préfectoral</span>
            </button>
        </div>

        <div class="block-upload-file--uploaded-actions">
            <span class="icon-check" aria-hidden="true"></span>

            <button type="button" class="btn btn-actions" title="Modifier le document Agrément préfectoral">
                <span class="icon-modifier" aria-hidden="true"></span>
                <span class="sr-only">Modifier le document Agrément préfectoral</span>
            </button>
            <button type="button" class="btn btn-actions" title="Supprimer le document Agrément préfectoral">
                <span class="icon-supprimer" aria-hidden="true"></span>
                <span class="sr-only">Supprimer le document Agrément préfectoral</span>
            </button>
        </div>
    </div>
</div>