<div class="block-bordered border block-recap">

    <h2 class="block-recap--title no-border">Récapitulatif</h2>

    <div class="block-recap--item-wrapper">

        <div class="block-recap--item">
            <h3 class="with-dot block-recap--item-title">Sophia Dupont</h3>
            <p class="block-recap--item-info">née le 03/06/2010</p>
            <p class="block-recap--item-total">350€</p>
        </div>

        <div class="block-recap--item">
            <h3 class="with-dot block-recap--item-title">Sophia DupontDupontDupont</h3>
            <p class="block-recap--item-info">née le 03/06/2010</p>
            <p class="block-recap--item-total">--</p>
        </div>

        <div class="block-recap--item">
            <h3 class="with-dot block-recap--item-title">Sophia Dupont</h3>
            <p class="block-recap--item-info">née le 03/06/2010</p>
            <p class="block-recap--item-total">420€</p>
        </div>

        <div class="block-recap--item">
            <h3 class="with-dot block-recap--item-title">Sophia Dupont</h3>
            <p class="block-recap--item-info">née le 03/06/2010</p>
            <p class="block-recap--item-total">350€</p>
        </div>

        <div class="block-recap--item">
            <h3 class="with-dot block-recap--item-title">Sophia DupontDupontDupont</h3>
            <p class="block-recap--item-info">née le 03/06/2010</p>
            <p class="block-recap--item-total">--</p>
        </div>

        <div class="block-recap--item">
            <h3 class="with-dot block-recap--item-title">Sophia Dupont</h3>
            <p class="block-recap--item-info">née le 03/06/2010</p>
            <p class="block-recap--item-total">420€</p>
        </div>
    
    </div>

    <h3 class="block-recap--total">
        Montant total du dépôt <span class="block-recap--total-nb">770€</span>
    </h3>

</div>