<button class="block-upload-file--button" type="button" data-target="#modalAddDoc" data-toggle="modal">
    <span class="{{ b_upload_file_icon }}" aria-hidden="true"></span>
    <span class="block-upload-file--title">{{ b_upload_file_title }}</span>
</button>