<div class="block-create-account-item--suivi-toggle-wrapper">
    <div class="block-create-account-item--suivi block-create-account-item--toggle block-create-account-item block-bordered border opened">
        <div class="block-create-account-item--infos">
            <h2 class="block-create-account-item--title h6 no-border" aria-describedby="suiviStatus11">Votre demande n°123456</h2>

            <button type="button" class="btn btn-actions btn-toggle-collapse" title="Replier les informations de votre demande n°123456" data-toggle="collapse" data-target="#collapseSuivi11" aria-expanded="true" aria-controls="collapseSuivi11">
                <span class="icon-chevron-down" aria-hidden="true"></span>
                <span class="sr-only">Replier les informations de votre demande n°123456</span>
            </button>
        </div>

        <div class="dossier-status" id="suiviStatus11">
            <span class="icon-demande-validee" aria-hidden="true"></span>

            <span class="sr-only">Demande</span>
            <p class="dossier-status-title">Validé</p>
        </div>

        <div class="block-create-account-item--actions">
            <button type="button" class="btn btn-actions" title="Télécharger votre demande n°123456">
                <span class="icon-telecharger" aria-hidden="true"></span>
                <span class="sr-only">Télécharger votre demande n°123456</span>
            </button>
            <button type="button" class="btn btn-actions" title="Modifier votre demande n°123456">
                <span class="icon-modifier" aria-hidden="true"></span>
                <span class="sr-only">Modifier votre demande n°123456</span>
            </button>
            <button type="button" class="btn btn-actions" title="Supprimer votre demande n°123456">
                <span class="icon-supprimer" aria-hidden="true"></span>
                <span class="sr-only">Supprimer votre demande n°123456</span>
            </button>
        </div>
    </div>
    <div class="block-create-account-item--suivi-collapse-wrapper collapse show" id="collapseSuivi11">

        <div class="block-create-account-item--collapse block-bordered border">

            <div class="row">
                <div class="col-md">
                    <p>
                        <span class="small text-uppercase">Date de la demande :</span><br>
                        <b>19 septembre 2018</b>
                    </p>
                </div>
                <div class="col-md">
                    <p>
                        <span class="small text-uppercase">Objet de la demande :</span><br>
                        <b>Récupérer mes allocations de rentrée scolaire</b>
                    </p>
                </div>
            </div>

            <hr>

            {% include "../breadcrumb/steplist.twig" %}

        </div>

    </div>
</div>

<div class="block-create-account-item--suivi-toggle-wrapper">
    <div class="block-create-account-item--suivi block-create-account-item--toggle block-create-account-item block-bordered border">
        <div class="block-create-account-item--infos">
            <h2 class="block-create-account-item--title h6 no-border" aria-describedby="suiviStatus10">Votre demande n°123456</h2>

            <button type="button" class="btn btn-actions btn-toggle-collapse" title="Déplier les informations de votre demande n°123456" data-toggle="collapse" data-target="#collapseSuivi10" aria-expanded="false" aria-controls="collapseSuivi10">
                <span class="icon-chevron-down" aria-hidden="true"></span>
                <span class="sr-only">Déplier les informations de votre demande n°123456</span>
            </button>
        </div>

        <div class="dossier-status" id="suiviStatus10">
            <span class="icon-traitement-en-cours" aria-hidden="true"></span>

            <span class="sr-only">Demande</span>
            <p class="dossier-status-title">En cours de traitement : <span class="dossier-status-info">Pris en charge par un gestionnaire</span></p>
        </div>

        <div class="block-create-account-item--actions">
            <button type="button" class="btn btn-actions" title="Télécharger votre demande n°123456">
                <span class="icon-telecharger" aria-hidden="true"></span>
                <span class="sr-only">Télécharger votre demande n°123456</span>
            </button>
            <button type="button" class="btn btn-actions" title="Modifier votre demande n°123456">
                <span class="icon-modifier" aria-hidden="true"></span>
                <span class="sr-only">Modifier votre demande n°123456</span>
            </button>
            <button type="button" class="btn btn-actions" title="Supprimer votre demande n°123456">
                <span class="icon-supprimer" aria-hidden="true"></span>
                <span class="sr-only">Supprimer votre demande n°123456</span>
            </button>
        </div>
    </div>
    <div class="block-create-account-item--suivi-collapse-wrapper collapse" id="collapseSuivi10">

        <div class="block-create-account-item--collapse block-bordered border">
            Content here
        </div>

    </div>
</div>

<div class="block-create-account-item--suivi-toggle-wrapper">
    <div class="block-create-account-item--suivi block-create-account-item--toggle block-create-account-item block-bordered border">
        <div class="block-create-account-item--infos">
            <h2 class="block-create-account-item--title h6 no-border">Votre brouillon</h2>

            <button type="button" class="btn btn-actions btn-toggle-collapse" title="Déplier les informations de votre brouillon" data-toggle="collapse" data-target="#collapseSuivi12" aria-expanded="false" aria-controls="collapseSuivi12">
                <span class="icon-chevron-down" aria-hidden="true"></span>
                <span class="sr-only">Déplier les informations de votre brouillon</span>
            </button>
        </div>

        <div class="block-create-account-item--actions">
            <button type="button" class="btn btn-actions" title="Modifier votre brouillon">
                <span class="icon-modifier" aria-hidden="true"></span>
                <span class="sr-only">Modifier votre brouillon</span>
            </button>
            <button type="button" class="btn btn-actions" title="Supprimer votre brouillon">
                <span class="icon-supprimer" aria-hidden="true"></span>
                <span class="sr-only">Supprimer votre brouillon</span>
            </button>
        </div>
    </div>
    <div class="block-create-account-item--suivi-collapse-wrapper collapse" id="collapseSuivi12">

        <div class="block-create-account-item--collapse block-bordered border">
            Content here
        </div>

    </div>
</div>