<div class="block-upload-file block-upload-file--xs">

    <div class="block-upload-file--item">
        {% include "block-upload-file--button.twig" with {
            b_upload_file_title: "Ajouter un nouveau document",
            b_upload_file_icon: "icon-ajouter-un-document",
        } %}
    </div>

    <div class="block-upload-file--item">
        {% include "block-upload-file--button.twig" with {
            b_upload_file_title: "Ajouter un nouveau document",
            b_upload_file_icon: "icon-ajouter-un-document",
        } %}
    </div>

    <div class="block-upload-file--item">
        {% include "block-upload-file--button.twig" with {
            b_upload_file_title: "Ajouter un nouveau document",
            b_upload_file_icon: "icon-ajouter-un-document",
        } %}
    </div>

</div>