<div class="block-upload-file">

    <div class="block-upload-file--item">
        {% include "block-upload-file--button.twig" with {
            b_upload_file_title: "Ajouter une pièce d'identité",
            b_upload_file_icon: "icon-ajouter-piece-identite",
        } %}
    </div>

    <div class="block-upload-file--item">
        {% include "block-upload-file--button.twig" with {
            b_upload_file_title: "Ajouter un extrait de date de naissance",
            b_upload_file_icon: "icon-ajouter-extrait-acte-naissance",
        } %}
    </div>

    <div class="block-upload-file--item">
        {% include "block-upload-file--button.twig" with {
            b_upload_file_title: "Ajouter un RIB",
            b_upload_file_icon: "icon-ajouter-rib",
        } %}
    </div>

    <div class="block-upload-file--item">
        {% include "block-upload-file--button.twig" with {
            b_upload_file_title: "Ajouter un nouveau document",
            b_upload_file_icon: "icon-ajouter-un-document",
        } %}
    </div>

</div>