<div class="block-video">

    <div class="block-video--video">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe title="Vidéo" src="https://picteo-bo.caissedesdepots.fr/pmFe6WK8Hg" class="embed-responsive-item"></iframe>
        </div>
    </div>

    <h2 class="block-video--title h4 no-border mb-1">Titre de la vidéo</h2>

    <p class="block-video--transcription">
        <a href="#" class="btn-download">
            <span>Transcription textuelle</span>
            <small>(PDF - 34 Ko)</small>
        </a>
    </p>

</div>