<div class="block-bordered border bg-light">
    <p class="h4 mb-2">Laborum fugiat nihil deserunt modi tempore delectus explicabo</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni laboriosam corrupti, cum vitae alias molestias harum possimus voluptatem magnam natus ratione eius aspernatur debitis quisquam officiis ipsa quia, aut necessitatibus.</p>
</div>