<div class="block-create-account-item block-bordered border bg-light">
    <div class="block-create-account-item--infos">
        <h3 class="block-create-account-item--title h6 text-uppercase" aria-describedby="accountStatus01">François Meunier</h3>

        <p class="block-create-account-item--info"><strong>Adresse mail :</strong> françois.meunierfrançois.meunierfrançois.meunier@dgfip.finances.gouv.fr</p>
        <p class="block-create-account-item--info"><strong>Téléphone :</strong> 01 64 09 60 83</p>
    </div>

    <div class="block-create-account-item--actions">
        <span class="block-create-account-item--status bg-success" id="accountStatus01">Compte actif</span>

        <button type="button" class="btn btn-actions" title="Modifier le compte de François Meunier">
            <span class="icon-modifier" aria-hidden="true"></span>
            <span class="sr-only">Modifier le compte de François Meunier</span>
        </button>
        <button type="button" class="btn btn-actions" title="Supprimer le compte de François Meunier">
            <span class="icon-supprimer" aria-hidden="true"></span>
            <span class="sr-only">Supprimer le compte de François Meunier</span>
        </button>
    </div>
</div>

<div class="block-create-account-item block-bordered border bg-light">
    <div class="block-create-account-item--infos">
        <h3 class="block-create-account-item--title h6 text-uppercase" aria-describedby="accountStatus02">François Meunier</h3>

        <p class="block-create-account-item--info"><strong>Adresse mail :</strong> françois.meunier@dgfip.finances.gouv.fr</p>
        <p class="block-create-account-item--info"><strong>Téléphone :</strong> 01 64 09 60 83</p>
    </div>

    <div class="block-create-account-item--actions">
        <span class="block-create-account-item--status bg-warning" id="accountStatus02">Compte inactif</span>

        <button type="button" class="btn btn-actions" title="Modifier le compte de François Meunier">
            <span class="icon-modifier" aria-hidden="true"></span>
            <span class="sr-only">Modifier le compte de François Meunier</span>
        </button>
        <button type="button" class="btn btn-actions" title="Supprimer le compte de François Meunier">
            <span class="icon-supprimer" aria-hidden="true"></span>
            <span class="sr-only">Supprimer le compte de François Meunier</span>
        </button>
    </div>
</div>