<form>
    <div class="block-upload-and-drag is-hover">

        <div class="block-upload-and-drag--drag">
            <span class="icon-drag-n-drop" aria-hidden="true"></span>
            <p>Glisser/déposer ici votre fichier</p>
        </div>

        <div class="block-upload-and-drag--text">
            <p>ou</p>
        </div>

        <div class="block-upload-and-drag--upload">
            <input type="file" id="file2" class="sr-only" aria-describedby="uploadDescription">
            <label for="file2" class="btn btn-secondary">Parcourir</label>
        </div>

    </div>
</form>