<div class="block-create-account-item--toggle-wrapper">
    <div class="block-create-account-item--toggle block-create-account-item block-bordered border bg-light">
        <div class="block-create-account-item--infos">
            <h2 class="block-create-account-item--title text-uppercase no-border" aria-describedby="accountStatus10">François Meunier</h2>

            <span class="block-create-account-item--status text-success" id="accountStatus10">
                <span class="icon-demande-validee" aria-hidden="true"></span>
                <span class="infobulle">Compte validé</span>
            </span>

            <button type="button" class="btn btn-actions btn-toggle-collapse" title="Déplier les informations du compte de François Meunier" data-toggle="collapse" data-target="#collapseAccount01" aria-expanded="false" aria-controls="collapseAccount01">
                <span class="icon-chevron-down" aria-hidden="true"></span>
                <span class="sr-only">Déplier les informations du compte de François Meunier</span>
            </button>
        </div>

        <div class="block-create-account-item--actions">
            <button type="button" class="btn btn-actions" title="Modifier le compte de François Meunier">
                <span class="icon-modifier" aria-hidden="true"></span>
                <span class="sr-only">Modifier le compte de François Meunier</span>
            </button>
            <button type="button" class="btn btn-actions" title="Supprimer le compte de François Meunier">
                <span class="icon-supprimer" aria-hidden="true"></span>
                <span class="sr-only">Supprimer le compte de François Meunier</span>
            </button>
        </div>
    </div>
    <div class="block-create-account-item--collapse-wrapper collapse" id="collapseAccount01">

        <div class="block-create-account-item--collapse block-bordered border">
            Content here
        </div>

    </div>
</div>

<div class="block-create-account-item--toggle-wrapper">
    <div class="block-create-account-item--toggle block-create-account-item block-bordered border bg-white opened">
        <div class="block-create-account-item--infos">
            <h2 class="block-create-account-item--title text-uppercase no-border" aria-describedby="accountStatus11">François Meunier</h2>

            <span class="block-create-account-item--status text-warning" id="accountStatus11">
                <span class="icon-alerte-incomplet" aria-hidden="true"></span>
                <span class="infobulle">Compte incomplet</span>
            </span>

            <button type="button" class="btn btn-actions btn-toggle-collapse" title="Replier les informations du compte de François Meunier" data-toggle="collapse" data-target="#collapseAccount02" aria-expanded="true" aria-controls="collapseAccount02">
                <span class="icon-chevron-down" aria-hidden="true"></span>
                <span class="sr-only">Replier les informations du compte de François Meunier</span>
            </button>
        </div>

        <div class="block-create-account-item--actions">
            <button type="button" class="btn btn-actions" title="Modifier le compte de François Meunier">
                <span class="icon-modifier" aria-hidden="true"></span>
                <span class="sr-only">Modifier le compte de François Meunier</span>
            </button>
            <button type="button" class="btn btn-actions" title="Supprimer le compte de François Meunier">
                <span class="icon-supprimer" aria-hidden="true"></span>
                <span class="sr-only">Supprimer le compte de François Meunier</span>
            </button>
        </div>
    </div>
    <div class="block-create-account-item--collapse-wrapper collapse show" id="collapseAccount02">

        <div class="block-create-account-item--collapse block-bordered border">
            Content here
        </div>

    </div>
</div>