<button type="button" class="btn btn-link btn-popover" data-toggle="popover" data-placement="top" title="Popover title" data-content="Assumenda minima quia maiores magnam est non suscipit, inventore voluptatem in? Nemo iusto repudiandae nesciunt fugit esse quis facere vero debitis atque!">
    <span class="icon-aide-1" aria-hidden="true"></span>
    <span class="sr-only">Infobulle pour : lorem ipsum</span>
</button>