<div class="form-group">
    <div class="float-target-parent">
        <label for="nCompteCaisse">
            N° de compte caisse des dépôts (si vous le connaissez) <span class="sr-only">Détails dans l'infobulle</span>
        </label>
        <input type="text" class="form-control float-target" id="nCompteCaisse">

        <button type="button" class="btn btn-link btn-popover" data-toggle="popover" data-placement="top" title="Popover title" data-content="Assumenda minima quia maiores magnam est non suscipit, inventore voluptatem in? Nemo iusto repudiandae nesciunt fugit esse quis facere vero debitis atque!">
            <span class="icon-aide-1" aria-hidden="true"></span>
            <span class="sr-only">Infobulle pour : N° de compte caisse des dépôts</span>
        </button>
    </div>
</div>