<nav role="navigation" aria-label="Fil d'ariane">
    <ol class="breadcrumb">
        <li class="breadcrumb-item complete">
            <a class="breadcrumb-item-inner" href="#">
                <span class="breadcrumb-item-title">Item complete</span>
            </a>
            <span class="breadcrumb-item-separator"></span>
        </li>
        <li class="breadcrumb-item complete">
            <a class="breadcrumb-item-inner" href="#">
                <span class="breadcrumb-item-title">Item complete</span>
            </a>
            <span class="breadcrumb-item-separator"></span>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <span class="breadcrumb-item-inner">
                <span class="breadcrumb-item-title">Item active</span>
            </span>
            <span class="breadcrumb-item-separator"></span>
        </li>
        <li class="breadcrumb-item">
            <span class="breadcrumb-item-inner">
                <span class="breadcrumb-item-title">Item</span>
            </span>
            <span class="breadcrumb-item-separator"></span>
        </li>
    </ol>
</nav>