<ol class="steplist">
    <li class="steplist-item complete">
        <div class="steplist-item-inner">
            <span class="icon-envoyer-une-demande" aria-hidden="true"></span>
            <span class="sr-only">Demande</span>
            <p class="steplist-item-title">Envoyée <span class="sr-only">(étape validée)</span></p>
        </div>
        <span class="steplist-item-line"></span>
    </li>
    <li class="steplist-item active" aria-current="step">
        <div class="steplist-item-inner">
            <span class="icon-traitement-en-cours" aria-hidden="true"></span>
            <span class="sr-only">Demande</span>
            <p class="steplist-item-title">En cours de traitement <span class="sr-only">(étape courrante)</span></p>
        </div>
        <span class="steplist-item-line"></span>
    </li>
    <li class="steplist-item">
        <div class="steplist-item-inner">
            <span class="icon-demande-validee" aria-hidden="true"></span>
            <span class="sr-only">Demande</span>
            <p class="steplist-item-title">Validée <span class="sr-only">(prochaine étape)</span></p>
        </div>
        <span class="steplist-item-line"></span>
    </li>
</ol>