{#
    setting the list of icons
#}
{%
    set icons = [
        "icon-recepisse",
        "icon-justificatif-paiement",
        "icon-dupliquer",
        "icon-recapitulatif",
        "icon-sort-table",
        "icon-agenda",
        "icon-aide-1",
        "icon-arrow-double-left",
        "icon-arrow-double-right",
        "icon-arrow-full-left",
        "icon-arrow-full-right",
        "icon-attention",
        "icon-back",
        "icon-border-top-left-1",
        "icon-border-top-left-2",
        "icon-border-top-left-3",
        "icon-border-top-right-1",
        "icon-citation",
        "icon-envoyer-ami",
        "icon-fermer",
        "icon-imprimer",
        "icon-information-outline",
        "icon-information",
        "icon-instagram",
        "icon-lien-externe",
        "icon-newsletter",
        "icon-rss",
        "icon-spacer",
        "icon-telephone",
        "icon-youtube",
        "icon-aide-2",
        "icon-glossaire",
        "icon-calendrier",
        "icon-connexion",
        "icon-contact-1",
        "icon-drag-n-drop",
        "icon-favori",
        "icon-historique",
        "icon-menu",
        "icon-modifier",
        "icon-vos-utilisateurs",
        "icon-mon-espace",
        "icon-vos-informations",
        "icon-plan-du-site",
        "icon-recherche",
        "icon-sites",
        "icon-supprimer",
        "icon-traitement-en-cours",
        "icon-telecharger",
        "icon-upload",
        "icon-inscription",
        "icon-accessibilite",
        "icon-voir-mot-de-passe",
        "icon-demande-validee",
        "icon-alerte-incomplet",
        "icon-ajouter",
        "icon-check",
        "icon-chevron-down",
        "icon-chevron-up",
        "icon-chevron-left",
        "icon-chevron-right",
        "icon-reinitialiser",
        "icon-accompagner-vos-clients-dans-une-procedure-judiciaire",
        "icon-aide",
        "icon-ajouter-agrement-prefectoral",
        "icon-ajouter-autorisation-travail",
        "icon-ajouter-enfant-agence",
        "icon-ajouter-extrait-acte-naissance",
        "icon-ajouter-kbis",
        "icon-ajouter-piece-identite",
        "icon-ajouter-rib",
        "icon-ajouter-un-document",
        "icon-ajouter-un-nouvel-enfant",
        "icon-autorisation-travail",
        "icon-autres-sites",
        "icon-carte-de-credit",
        "icon-cheque",
        "icon-choisir-la-consignation-comme-garantie",
        "icon-confier-des-sommes-non-reclamees",
        "icon-conseiller-la-consignation-en-cas-de-litige",
        "icon-consignation-judiciaire-et-vous",
        "icon-consigner-votre-loyer-et-vos-charges",
        "icon-contribuer-a-la-protection-environnement",
        "icon-creer-votre-entreprise",
        "icon-deposer-votre-capital-social",
        "icon-depot-de-remuneration-des-enfants-du-spectacle",
        "icon-envoyer-une-demande",
        "icon-extrait-acte-naissance",
        "icon-faire-face-aux-difficultes-financieres",
        "icon-garantir-vos-projets-amenagements",
        "icon-pdf",
        "icon-piece-identite",
        "icon-preserver-vos-interets-par-une-garantie-financiere",
        "icon-rechercher-des-sommes-non-reclamees",
        "icon-rechercher-enfant-agence",
        "icon-recuperer-votre-argent-consigne",
        "icon-repondre-a-une-situation-contentieuse",
        "icon-rib",
        "icon-securiser-votre-activite",
        "icon-securiser-votre-projet-immobilier",
        "icon-virement",
        "icon-vos-documents",
        "icon-votre-structure",
        "icon-recycling-truck",
        "icon-factory-4",
        "icon-electric-tower-1",
        "icon-factory-3",
        "icon-montain-1",
        "icon-global-warming",
        "icon-ecology-1",
        "icon-industry",
        "icon-flower",
        "icon-idea",
        "icon-sprout-1",
        "icon-sprout",
        "icon-faucet",
        "icon-factory-2",
        "icon-factory2",
        "icon-electricity",
        "icon-wind-turbine",
        "icon-rain",
        "icon-light-bulb",
        "icon-recycling-bin",
        "icon-light-bulb-12",
        "icon-recycling-truck2",
        "icon-recycling-12",
        "icon-factory-42",
        "icon-electric-tower-12",
        "icon-factory-32",
        "icon-ecology-12",
        "icon-industry2",
        "icon-apartment",
        "icon-apartment-1",
        "icon-apartment-3",
        "icon-apartment-5",
        "icon-apartment-6",
        "icon-apartment-7",
        "icon-appartment",
        "icon-blueprint",
        "icon-cityscape",
        "icon-house",
        "icon-house-1",
        "icon-house-2",
        "icon-house-3",
        "icon-house-4",
        "icon-house-key",
        "icon-house-key-1",
        "icon-house-key-2",
        "icon-laptop",
        "icon-laptop-1",
        "icon-mortgage",
        "icon-mortgage-2",
        "icon-mortgage-4",
        "icon-placeholder",
        "icon-search2",
        "icon-skyscraper-1",
        "icon-skyscraper-3",
        "icon-alarm-1",
        "icon-alarm-clock",
        "icon-archive",
        "icon-blueprint2",
        "icon-bookmark-1",
        "icon-briefcase",
        "icon-calculator",
        "icon-calculator-1",
        "icon-calendar",
        "icon-clock",
        "icon-cloud",
        "icon-compass",
        "icon-database",
        "icon-diamond",
        "icon-diploma",
        "icon-dislike-1",
        "icon-document",
        "icon-edit",
        "icon-exit",
        "icon-exit-1",
        "icon-fax",
        "icon-file-2",
        "icon-fingerprint",
        "icon-flag-4",
        "icon-folder3",
        "icon-folder-9",
        "icon-folder-12",
        "icon-folder-14",
        "icon-folder-17",
        "icon-folder-18",
        "icon-home",
        "icon-hourglass-2",
        "icon-house2",
        "icon-id-card",
        "icon-id-card-1",
        "icon-id-card-2",
        "icon-id-card-3",
        "icon-id-card-4",
        "icon-id-card-5",
        "icon-idea3",
        "icon-incoming",
        "icon-like",
        "icon-like-2",
        "icon-list",
        "icon-lock",
        "icon-lock-1",
        "icon-locked",
        "icon-locked-1",
        "icon-locked-4",
        "icon-magic-wand",
        "icon-map-1",
        "icon-map-2",
        "icon-map-location",
        "icon-megaphone",
        "icon-navigation-1",
        "icon-network",
        "icon-newspaper",
        "icon-notebook",
        "icon-notebook-5",
        "icon-notepad-1",
        "icon-paper-plane-1",
        "icon-photo-camera",
        "icon-picture-1",
        "icon-print",
        "icon-resume",
        "icon-route",
        "icon-search-1",
        "icon-settings",
        "icon-settings-1",
        "icon-settings-2",
        "icon-settings-3",
        "icon-settings-4",
        "icon-share-1",
        "icon-sign-1",
        "icon-smartphone",
        "icon-smartphone-2",
        "icon-smartphone-4",
        "icon-smartphone-7",
        "icon-smartphone-9",
        "icon-smartphone-11",
        "icon-star-1",
        "icon-stopwatch",
        "icon-stopwatch-1",
        "icon-umbrella",
        "icon-unlocked-1",
        "icon-user-2",
        "icon-user-3",
        "icon-user-4",
        "icon-users",
        "icon-users-1",
        "icon-video-camera-1",
        "icon-video-player",
        "icon-atm-1",
        "icon-atm-2",
        "icon-bag",
        "icon-bank",
        "icon-barbershop",
        "icon-basket",
        "icon-box",
        "icon-briefcase-1",
        "icon-cart-3",
        "icon-cart-13",
        "icon-cart-15",
        "icon-cart-16",
        "icon-coin-4",
        "icon-coin-9",
        "icon-coins",
        "icon-coins-1",
        "icon-credit-card-2",
        "icon-credit-card-6",
        "icon-folder-110",
        "icon-get-money",
        "icon-graph",
        "icon-graph-1",
        "icon-graph-2",
        "icon-graph-3",
        "icon-graph-4",
        "icon-grocery",
        "icon-insert-coin",
        "icon-justice",
        "icon-justice-scale",
        "icon-megaphone2",
        "icon-money",
        "icon-notes-2",
        "icon-pie-chart-1",
        "icon-piggy-bank",
        "icon-piggy-bank-1",
        "icon-point-of-service",
        "icon-presentation-4",
        "icon-presentation-6",
        "icon-presentation-7",
        "icon-presentation-11",
        "icon-presentation-14",
        "icon-price-tag-6",
        "icon-rewind-time",
        "icon-rich",
        "icon-safebox",
        "icon-safebox-1",
        "icon-store-3",
        "icon-strongbox",
        "icon-suitcase",
        "icon-suitcase-1",
        "icon-time-is-money",
        "icon-time-passing",
        "icon-wallet-1",
        "icon-blind",
        "icon-contact-2",
        "icon-facebook",
        "icon-google-plus",
        "icon-linkedin",
        "icon-twitter",
        "icon-chrono-euro",
        "icon-light",
        "icon-handshake",
        "icon-headphones-star",
        "icon-shield-lock",
        "icon-balance",
        "icon-lens-euro",
        "icon-chess",
        "icon-man-graph",
        "icon-arrows-lightning",
        "icon-plant",
        "icon-flower-medal",
        "icon-construction",
        "icon-factory",
        "icon-info",
        "icon-theater",
        "icon-little-girl",
        "icon-trumpet",
        "icon-star",
        "icon-gamepad",
        "icon-drum",
        "icon-filter",
        "icon-laptop-more",
        "icon-laptop-arrow",
        "icon-external-link",
        "icon-filter-2",
        "icon-search",
        "icon-contact",
        "icon-book",
        "icon-tchat",
        "icon-close",
        "icon-backtotop",
        "icon-folder",
        "icon-chain",
        "icon-hammer",
        "icon-city",
        "icon-laptop-money",
        "icon-suitecase",
        "icon-folder-2",
    ]
%}

<div class="sg-icons">
    {% for icon in icons %}
    <div class="{{ icon }}" aria-hidden="true">
        <span class="icon-name">{{ icon }}</span>
    </div>
    {% endfor %}
</div>