<ul>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quasi libero labore aut minima laborum illo aliquid quidem doloremque exercitationem vero praesentium harum, blanditiis quam fuga expedita ipsam, molestiae deleniti.</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
</ul>

<ol>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quasi libero labore aut minima laborum illo aliquid quidem doloremque exercitationem vero praesentium harum, blanditiis quam fuga expedita ipsam, molestiae deleniti.</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
</ol>

<dl>
    <dt>Internet</dt>
    <dd>Réseau informatique international qui connecte les ordinateurs entre eux, tout comme le réseau routier relie les villes entre elles. Ce réseau propose trois types de services fondamentaux&nbsp;: le courriel, le Web et l'échange de fichiers.</dd>
    <dt>Web</dt>
    <dd>Le <i lang="en">World Wide Web</i> est le système hypertexte permettant de visiter des pages sur le réseau Internet.</dd>
</dl>

<ul>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum
        <ul>
            <li>Lorem ipsum
                <ul>
                    <li>Lorem ipsum
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                        </ul>
                    </li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
            </li>
            <li>Lorem ipsum
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
    <li>Lorem ipsum</li>
</ul>

<ol>
    <li>Premier item</li>
    <li>Deuxième item</li>
    <li>Troisième item</li>
    <li>Quatrième item</li>
    <li>Cinquième item
        <ol>
            <li>Premier</li>
            <li>Deuxième
                <ol>
                    <li>Premier</li>
                    <li>Deuxième</li>
                    <li>Troisième</li>
                </ol>
            </li>
            <li>Troisième</li>
        </ol>
    </li>
    <li>Sixième item</li>
    <li>Septième item</li>
</ol>