<h1>Titre de niveau h1</h1>

<p class="lead">Lead : Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h2>Titre de niveau&nbsp;h2</h2>
<p>Le titre ci-dessus est de niveau&nbsp;2, balise <code>&lt;h2&gt;</code>. Il s'utilise après un élément <code>&lt;h1&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h3>Titre de niveau&nbsp;h3</h3>
<p>Le titre ci-dessus est de niveau&nbsp;3, balise <code>&lt;h3&gt;</code>. Il s'utilise après un élément <code>&lt;h2&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h4>Titre de niveau&nbsp;h4</h4>
<p>Le titre ci-dessus est de niveau&nbsp;4, balise <code>&lt;h4&gt;</code>. Il s'utilise après un élément <code>&lt;h3&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h5>Titre de niveau&nbsp;h5</h5>
<p>Le titre ci-dessus est de niveau&nbsp;5, balise <code>&lt;h5&gt;</code>. Il s'utilise après un élément <code>&lt;h4&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<h6>Titre de niveau&nbsp;h6</h6>
<p>Le titre ci-dessus est de niveau&nbsp;6, balise <code>&lt;h6&gt;</code>. Il s'utilise après un élément <code>&lt;h5&gt;</code>, pour marquer un titre de niveau inférieur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

<p>Tout paragraphe est marqué par l'élément HTML <code>&lt;p&gt;</code>. L'idée principale doit être exprimée clairement au début du paragraphe. Les autres phrases servent à expliquer et à illustrer le message qu'on veut transmettre. Bref, un paragraphe pour chaque idée et une idée par paragraphe.
<br />Ici, retour à la ligne, avec l'élément <code>&lt;br&gt;</code>. Espace&nbsp;insécable.</p>
<hr />