{% extends "../../_layout-styleguide.twig" %}

{% set title = 'Pagination Component' %}
{% set bodyclass = 'sg-body-wrapper' %}

{% block sg_main_title %}
    <h2 class="sg-title">Pagination</h2>
{% endblock %}

{% block main %}

    {% embed "../layout/callout.twig" with {
        callout_type: "sg-callout-warning"
    } %}
        {% block sg_callout_content %}
            <p>
                <a href="https://getbootstrap.com/docs/4.1/components/pagination/" target="_blank">Bootstrap pagination</a>
            </p>
        {% endblock %}
    {% endembed %}

    <h2 class="sg-title">Pagination</h2>

    {% include "../component/pagination/pagination.twig" %}
    {% set path_code = '../../component/pagination/pagination.twig' %}
    {% set collapse_id = '00' %}
    {% include "../layout/code/collapse.twig" %}

{% endblock %}