<div class="dropdown">
    <button class="btn btn-outline-primary btn-outline-transparent btn-icon-left dropdown-toggle" type="button" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon-fermer" aria-hidden="true"></span>
        Primary
    </button>
    <div aria-labelledby="dropdown01" class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary btn-icon-left dropdown-toggle" type="button" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="icon-fermer" aria-hidden="true"></span>
        <span class="btn-text">Secondary</span>
    </button>
    <div aria-labelledby="dropdown02" class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
</div>