{#
/**
 * @file
 * Theme override for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 */
#}
{% if dropdown %}
    <div class="dropdown-menu form-dispositif-aide-filters-dropdown-menu" aria-labelledby="dropdownFilters01">
        <div class="form-group form-group-custom-control">
            {{ children }}
        </div>
    </div>
{% else %}
    <div{{ attributes.addClass('form-radios') }}>{{ children }}</div>
{% endif %}

