{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<div class="form-description">
    <p>{{ "Ce formulaire vous permet de poser vos questions sur les dispositifs de l'ADEME." |t }}</p>
    <p>{{ 'Les champs marqués par un astérisque (<span class="form-required" title="Ce champ est requis">*</span>) sont obligatoires.' |t }}</p>
</div>
{{ form }}
