<ul class="nav nav-tabs nav-tabs--connect" id="myTabConnect" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tab-connect-01" data-toggle="tab" href="#connect-01" role="tab" aria-controls="connect-01" aria-selected="true">
            <span class="icon-connexion" aria-hidden="true"></span>
            <span class="nav-link--text">Me connecter</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-contact-02" data-toggle="tab" href="#contact-02" role="tab" aria-controls="contact-02" aria-selected="false">
            <span class="icon-inscription" aria-hidden="true"></span>
            <span class="nav-link--text">Créer mon compte</span>
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContentConnect">
    <div class="tab-pane fade show active" id="connect-01" role="tabpanel" aria-labelledby="tab-connect-01">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam rerum ut</p>
    </div>
    <div class="tab-pane fade" id="contact-02" role="tabpanel" aria-labelledby="tab-contact-02">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime provident assumenda est incidunt. Doloribus similique, quos officia nostrum sit a veniam placeat architecto veritatis accusantium. Illo optio facilis corporis suscipit!</p>
    </div>
</div>