<ul class="nav nav-tabs nav-tabs--icon" id="myTabIcon" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tab-icon-01" data-toggle="tab" href="#icon-01" role="tab" aria-controls="icon-01" aria-selected="true">
            <span class="icon-virement" aria-hidden="true"></span>
            <span class="nav-link--text">Virement</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-icon-02" data-toggle="tab" href="#icon-02" role="tab" aria-controls="icon-02" aria-selected="false">
            <span class="icon-cheque" aria-hidden="true"></span>
            <span class="nav-link--text">Chèque</span>
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContentConnect">
    <div class="tab-pane fade show active" id="icon-01" role="tabpanel" aria-labelledby="tab-icon-01">
        <h4 class="h2">1. Effectuer le virement bancaire</h4>
        <p><span class="text-secondary">Lors du virement, précisez bien le numéro de demande pour un traitement plus rapide</span> <br>(voir l'e-mail de confirmation).</p>
        <p>Le nom du champ où entrer votre numéro de demande peut varier : <br>libellé, objet de paiement, référence opération ou motif de paiement.</p>

        <h4 class="h2 mt-4 mt-xxl-8">2 . Nos coordonnées bancaires</h4>
        <p>
            <b>Bénéficiaire :</b> Caisse des Dépôts <br>
            <b>IBAN :</b> FR75 1778 9000 0011 0660 5150 0018 <br>
            <b>BIC :</b> CDCG FR PP <br>
            <b>Banque :</b> Caisse des Dépôts
        </p>
        <p><strong>Vous trouverez aussi nos coordonnées bancaires sur la page de confirmation de votre demande, ainsi que dans l'e-mail de confirmation.</strong></p>

        <h4 class="h2 mt-4 mt-xxl-8">3 . Prise en charge de votre demande</h4>
        <p class="text-secondary mb-0">Votre demande sera traitée après réception du paiement.</p>
        <p class="mb-0">La transaction peut prendre de 2 à 4 jours ouvrables.</p>
        <p class="mb-0">Votre demande est en attente de prise en charge pendant 7 jours.</p>
        <p class="mb-0">Si nous n'avons pas reçu le paiement passé ce délai, votre demande sera automatiquement annulée.</p>
    </div>

    <div class="tab-pane fade" id="icon-02" role="tabpanel" aria-labelledby="tab-icon-02">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime provident assumenda est incidunt. Doloribus similique, quos officia nostrum sit a veniam placeat architecto veritatis accusantium. Illo optio facilis corporis suscipit!</p>
    </div>

</div>
{# / tab-content #}