<div class="logo">
    <h2>Logo Retina / HD</h2>
    <img src="../img/logo-bdt.png" alt="Banque des Territoire - Groupe Caisse des dépôts">
</div>

<div class="logo mt-9">
    <h2>Logo normal</h2>
    <img src="../img/logo-bdt-small.png" alt="Banque des Territoire - Groupe Caisse des dépôts">
</div>

<div class="logo mt-9">
    <h2>Logo Retina / HD - mobile</h2>
    <img src="../img/logo-bdt-mobile.png" alt="Banque des Territoire - Groupe Caisse des dépôts">
</div>