<div class="form-group">
    <div class="input-group float-target-parent">
        <input type="text" class="form-control float-target" id="inputAppend01" aria-describedby="input-group-addon5">
        <label for="inputAppend01">Rechercher un enfant déjà déclaré</label>

        <div class="input-group-append">
            <button type="button" class="btn btn-secondary" id="button-addon4">Ajouter</button>
        </div>
    </div>
</div>