<div class="form-group">
    <div class="input-group float-target-parent">
        <input type="text" class="form-control float-target" id="inputAppend01-disabled" aria-describedby="input-group-addon5" disabled>
        <label for="inputAppend01-disabled">Rechercher un enfant déjà déclaré</label>

        <div class="input-group-append">
            <button type="button" class="btn btn-secondary" id="input-group-addon5" disabled>Ajouter</button>
        </div>
    </div>
</div>