<div class="form-group">
    <div class="input-group float-target-parent">
        <input type="text" class="form-control float-target" id="inputAppend02" aria-describedby="input-group-addon5">
        <label for="inputAppend02">Date</label>

        <div class="input-group-append">
            <button type="button" class="btn input-group-text" id="input-group-addon5">
                <span class="icon-calendrier" aria-hidden="true"></span>
                <span class="sr-only">Ouvrir le datepicker</span>
            </button>
        </div>
    </div>
</div>