<ngb-typeahead-window class="dropdown-menu show" id="ngb-typeahead-2" role="listbox" style="position: static;">
    <!----><!---->
    <button class="dropdown-item" id="ngb-typeahead-2-0" role="option" type="button"><!----><ngb-highlight><!----><!---->AL<!----><!----><span class="ngb-highlight">AS</span><!----><!---->KA<!----></ngb-highlight>
    </button>
    <button class="dropdown-item" id="ngb-typeahead-2-1" role="option" type="button"><!----><ngb-highlight><!----><!---->ARKANS<!----><!----><span class="ngb-highlight">AS</span><!----><!----><!---->
    </ngb-highlight>
    </button>
        <button class="dropdown-item" id="ngb-typeahead-2-2" role="option" type="button"><!----><ngb-highlight><!----><!---->KANS<!----><!----><span class="ngb-highlight">AS</span><!----><!----><!---->
    </ngb-highlight>
    </button>
        <button class="dropdown-item" id="ngb-typeahead-2-3" role="option" type="button"><!----><ngb-highlight><!----><!---->M<!----><!----><span class="ngb-highlight">AS</span><!----><!---->SACHUSETTS<!----></ngb-highlight>
    </button>
    <button class="dropdown-item" id="ngb-typeahead-2-4" role="option" type="button"><!----><ngb-highlight><!----><!---->NEBR<!----><!----><span class="ngb-highlight">AS</span><!----><!---->KA<!----></ngb-highlight>
    </button>
    <button class="dropdown-item" id="ngb-typeahead-2-5" role="option" type="button"><!----><ngb-highlight><!----><!---->TEX<!----><!----><span class="ngb-highlight">AS</span><!----><!----><!---->
    </ngb-highlight>
    </button>
        <button class="dropdown-item active" id="ngb-typeahead-2-6" role="option" type="button"><!----><ngb-highlight><!----><!---->W<!----><!----><span class="ngb-highlight">AS</span><!----><!---->HINGTON<!----></ngb-highlight>
    </button>
</ngb-typeahead-window>