<!-- Button trigger modal -->
<button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal" type="button">
    Launch demo modal
</button>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-uppercase" id="exampleModalLabel">Modal title</h2>

                <button aria-label="Close" class="close btn-icon-left" data-dismiss="modal" type="button">
                    <span class="icon-fermer" aria-hidden="true"></span>
                    <span class="btn-text">Fermer</span>
                </button>
            </div>
            <div class="modal-body">
                modal body
            </div>
            <div class="modal-footer">
                modal footer
            </div>
        </div>
    </div>
</div>