<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" title="Première page">
                <span aria-hidden="true" class="icon-arrow-double-left"></span>
                <span class="sr-only">Première page</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" title="Page précédente">
                <span aria-hidden="true" class="icon-chevron-left"></span>
                <span class="sr-only">Page précédente</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item active">
            <span class="page-link">
                2 <span class="sr-only">(current)</span>
            </span>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" title="Page suivante">
                <span aria-hidden="true" class="icon-chevron-right"></span>
                <span class="sr-only">Page suivante</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" title="Dernière page">
                <span aria-hidden="true" class="icon-arrow-double-right"></span>
                <span class="sr-only">Dernière page</span>
            </a>
        </li>
    </ul>
</nav>