.page-form {
    .main {
        background-color: $gray-100;
    }

    h1 {
        text-align: center;
    }
}
.hideShowPassword-toggle {
    width: 50px;
}
.form-item-pass-pass2{
    .col-sm-3{
        padding-right: 1.4rem;
    }
}