<header role="banner" class="sg-header">

    <div class="sg-header--in">

        <h1>Guide de style <span>Consignations</span></h1>

        <div class="sg-header--nav">
            {% include 'nav.twig' %}
        </div>
        {# / sg-header--nav #}
    
        <div class="sg-header--logo-aw">
            <img src="./img/styleguide/logo.svg" alt="custom">
        </div>

    </div>
    {# / sg-header--in #}

</header>