<nav role="navigation">

    <a class="sg-header--nav---link" href="./index.html">Accueil</a>

    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton_01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon-chevron-down" aria-hidden="true"></span>
            <span>Composants</span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_01">

            <div class="row">

                <div class="col">

                    <div class="sg-nav">
                        <a href="component-typography.html">Typography</a>
                        <ul>
                            <li><a href="component-typography.html#Typography">Typography</a></li>
                            <li><a href="component-typography.html#Typography-utilities">Typography-utilities</a></li>
                            <li><a href="component-typography.html#Lists">Lists</a></li>
                            <li><a href="component-typography.html#Font-icon">Font-icon</a></li>
                            <li><a href="component-typography.html#Spacer">Spacer</a></li>
                        </ul>
                    </div>

                    <div class="sg-nav">
                        <a href="component-grid.html">Grid</a>
                    </div>

                    <div class="sg-nav">
                        <a href="component-tabs.html">Tabs</a>
                    </div>

                    <div class="sg-nav">
                        <a href="component-breadcrumb.html">Breadcrumb</a>
                    </div>

                    <div class="sg-nav">
                        <a href="component-progress.html">Progress bar</a>
                    </div>

                </div>

                <div class="col">

                    <div class="sg-nav">
                        <a href="component-button.html">Button</a>
                        <ul>
                            <li><a href="component-button.html#button">Button</a></li>
                            <li><a href="component-button.html#button-outline">Button outline</a></li>
                            <li><a href="component-button.html#button-icon">Button icon</a></li>
                            <li><a href="component-button.html#button-group">Button group</a></li>
                            <li><a href="component-button.html#button-center">Button center</a></li>
                            <li><a href="component-button.html#button-download">Button download</a></li>
                        </ul>
                    </div>

                    <div class="sg-nav">
                        <a href="component-input-group.html">Input group</a>
                    </div>

                    <div class="sg-nav">
                        <a href="component-table.html">Table</a>
                    </div>

                    <div class="sg-nav">
                        <a href="component-modal.html">Modal</a>
                    </div>

                    <div class="sg-nav">
                        <a href="component-popover.html">Popover</a>
                    </div>

                </div>

                <div class="col">

                    <div class="sg-nav">
                        <a href="component-block.html">Block</a>
                        <ul>
                            <li><a href="component-block.html#Block-Bordered">Block Bordered</a></li>
                            <li><a href="component-block.html#Block-Highlight-Link">Block Highlight Link</a></li>
                            <li><a href="component-block.html#Block-search-and-add-item">Block Search and Add item</a></li>
                            <li><a href="component-block.html#Block-upload-file">Block upload file</a></li>
                            <li><a href="component-block.html#Block-upload-file-uploaded">Block upload file uploaded</a></li>
                            <li><a href="component-block.html#Block-upload-and-drag">Block upload and drag</a></li>
                            <li><a href="component-block.html#Block-create-account-item">Block create account item</a></li>
                            <li><a href="component-block.html#Block-create-account-item-toggle">Block create account item toggle</a></li>
                            <li><a href="component-block.html#Block-create-account-item-suivi-toggle">Block create account item suivi toggle</a></li>
                            <li><a href="component-block.html#Block-create-account-item-card-table">Block create account item card table</a></li>
                            <li><a href="component-block.html#Block-recap">Block recap</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col">

                    <div class="sg-nav">
                        <a href="component-form.html">Form</a>
                        <ul>
                            <li><a href="component-form.html#Form">Form</a></li>
                            <li><a href="component-form.html#Form-validation">Form validation</a></li>
                            <li><a href="component-form.html#Form-row">Form row</a></li>
                            <li><a href="component-form.html#Form-fieldset-toggle">Form fieldset toggle</a></li>
                        </ul>
                    </div>

                    <div class="sg-nav">
                        <a href="component-alert.html">Alert</a>
                    </div>

                    <div class="sg-nav">
                        <a href="component-dropdown.html">Dropdown</a>
                    </div> 

                    <div class="sg-nav">
                        <a href="component-datepicker.html">Datepicker</a>
                    </div>

                    <div class="sg-nav">
                        <a href="component-typeahead.html">Typeahead (autocomplete)</a>
                    </div>

                    <div class="sg-nav">
                        <a href="component-pagination.html">Pagination</a>
                    </div>

                </div> 

            </div>

        </div>
    </div>

    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton_02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon-chevron-down" aria-hidden="true"></span>
            <span>Templates</span>
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_02">

            <div class="row">
                <div class="col">

                    <ul>
                        <li> <a href="06.html" target="_blank">06.connexion</a></li>
                        <li><a href="00.html" target="_blank">0?.Mot de passe oublié</a></li>
                        <li><a href="18.html" target="_blank">18.depot remuneration enfants_informations</a></li>
                        <li><a href="26.html" target="_blank">26.depot remuneration enfants_justificatifs pro</a></li>
                        <li><a href="30.html" target="_blank">30.depot remuneration enfants_paiement</a></li>
                    </ul>

                </div>
                <div class="col">

                    <ul>
                        <li><a href="31.html" target="_blank">31.deconsignation_paiement_02</a></li>
                        <li><a href="32.html" target="_blank">32.depot remuneration enfants_confirmation</a></li>
                        <li><a href="33-01.html" target="_blank">33.parcours pro - 1ere connexion_structure</a></li>
                        <li><a href="33-02.html" target="_blank">33.parcours pro - 1ere connexion_informations</a></li>
                    </ul>
                    
                </div>
                <div class="col">

                    <ul>
                        <li><a href="48.html" target="_blank">48.parcours pro - 1ere connexion_documents_02</a></li>
                        <li><a href="49.html" target="_blank">49.parcours pro - 1ere connexion_utilisateurs</a></li>
                        <li><a href="50.html" target="_blank">50.ecran accueil authentifie</a></li>
                        <li><a href="51.html" target="_blank">51.mon suivi_professionnel</a></li>
                        <li><a href="52.html" target="_blank">52.mon suivi_particulier</a></li>
                    </ul>

                </div>
            </div>

        </div>
    </div>

    <button class="btn" type="button" data-toggle="modal" data-target="#modal_info">
        <span class="icon-attention" aria-hidden="true"></span>
        <span>Informations</span>
    </button>

    {% include '../component/modal/modal-info.twig' %}

</nav>