.border-t{ border-top: 0.1rem solid $gray-200; }

.border-b{ border-bottom: 0.1rem solid $gray-200; }

.border-l{ border-left: 0.1rem solid $gray-200; }

.border-r{ border-right: 0.1rem solid $gray-200; }