
.d-block {
    display: block;
}

.d-table {
    display: table;
}

.d-table-row {
    display: table-row;
}

.d-table-cell {
    display: table-cell;
}

.d-flex {
    display: -ms-flexbox;
    display: flex;
}

.d-inline-flex {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@media (min-width: 36em) {
    .d-sm-none {
        display: none;
    }
    
    .d-sm-inline {
        display: inline;
    }
    
    .d-sm-inline-block {
        display: inline-block;
    }
    
    .d-sm-block {
        display: block;
    }
    
    .d-sm-table {
        display: table;
    }
    
    .d-sm-table-row {
        display: table-row;
    }
    
    .d-sm-table-cell {
        display: table-cell;
    }
    
    .d-sm-flex {
        display: -ms-flexbox;
        display: flex;
    }
    
    .d-sm-inline-flex {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

@media (min-width: 48em) {
    .d-md-none {
        display: none;
    }

    .d-md-inline {
        display: inline;
    }

    .d-md-inline-block {
        display: inline-block;
    }

    .d-md-block {
        display: block;
    }

    .d-md-table {
        display: table;
    }

    .d-md-table-row {
        display: table-row;
    }

    .d-md-table-cell {
        display: table-cell;
    }

    .d-md-flex {
        display: -ms-flexbox;
        display: flex;
    }

    .d-md-inline-flex {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

@media (min-width: 62em) {
    .d-lg-none {
        display: none;
    }

    .d-lg-inline {
        display: inline;
    }

    .d-lg-inline-block {
        display: inline-block;
    }

    .d-lg-block {
        display: block;
    }

    .d-lg-table {
        display: table;
    }

    .d-lg-table-row {
        display: table-row;
    }

    .d-lg-table-cell {
        display: table-cell;
    }

    .d-lg-flex {
        display: -ms-flexbox;
        display: flex;
    }

    .d-lg-inline-flex {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

@media (min-width: 75em) {
    .d-xl-none {
        display: none;
    }
    
    .d-xl-inline {
        display: inline;
    }
    
    .d-xl-inline-block {
        display: inline-block;
    }
    
    .d-xl-block {
        display: block;
    }
    
    .d-xl-table {
        display: table;
    }
    
    .d-xl-table-row {
        display: table-row;
    }
    
    .d-xl-table-cell {
        display: table-cell;
    }
    
    .d-xl-flex {
        display: -ms-flexbox;
        display: flex;
    }

    .d-xl-inline-flex {
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}