.no-margin{ margin: 0; }

.m-auto{ margin-left: auto; margin-right: auto; }

.mt-0{ margin-top: 0; }
.mb-0{ margin-bottom: 0; }
.ml-0{ margin-left: 0; }
.mr-0{ margin-right: 0; }

.mt-10{ margin-top: 1rem; }
.mt-20{ margin-top: 2rem; }
.mt-30{ margin-top: 3rem; }
.mt-40{ margin-top: 4rem; }

.mtb-0{ margin-top: 0rem; margin-bottom: 0rem; }
.mtb-10{ margin-top: 1rem; margin-bottom: 1rem; }
.mtb-20{ margin-top: 2rem; margin-bottom: 2rem; }
.mtb-30{ margin-top: 3rem; margin-bottom: 3rem; }
.mtb-40{ margin-top: 4rem; margin-bottom: 4rem; }

.mb-10{ margin-bottom: 1rem; }
.mb-20{ margin-bottom: 2rem; }
.mb-30{ margin-bottom: 3rem; }
.mb-40{ margin-bottom: 4rem; }