.no-padding{ padding: 0; }
.no-padding-t{ padding-top: 0; }
.no-padding-b{ padding-bottom: 0; }
.no-padding-l{ padding-left: 0; }
.no-padding-r{ padding-right: 0; }

.p-10{ padding: 1rem; }
.p-20{ padding: 2rem; }

.pt-10{ padding-top: 1rem; }
.pt-20{ padding-top: 2rem; }
.pt-30{ padding-top: 3rem; }
.pt-40{ padding-top: 4rem; }

.pb-10{ padding-bottom: 1rem; }
.pb-20{ padding-bottom: 2rem; }
.pb-30{ padding-bottom: 3rem; }
.pb-40{ padding-bottom: 4rem; }

.pl-10{ padding-left: 1rem; }
.pl-20{ padding-left: 2rem; }
.pl-30{ padding-left: 3rem; }
.pl-40{ padding-left: 4rem; }

.pr-10{ padding-right: 1rem; }
.pr-20{ padding-right: 2rem; }
.pr-30{ padding-right: 3rem; }
.pr-40{ padding-right: 4rem; }