<button type="button" class="btn btn-primary btn-icon-left">
    <span class="icon-fermer" aria-hidden="true"></span>
    Primary icon left
</button>

<div class="sg-divider"></div>

<button type="button" class="btn btn-primary btn-icon-right">
    Primary icon right
    <span class="icon-fermer" aria-hidden="true"></span>
</button>

<div class="sg-divider"></div>

<button type="button" class="btn btn-outline-primary btn-icon-left">
    <span class="icon-fermer" aria-hidden="true"></span>
    Primary outline icon
</button>

<div class="sg-divider"></div>

<button type="button" class="btn btn-link btn-icon-left">
    <span class="icon-fermer" aria-hidden="true"></span>
    Link icon left
</button>

<div class="sg-divider"></div>

<button type="button" class="btn btn-actions" title="Modifier le document [nom du document]">
    <span class="icon-modifier" aria-hidden="true"></span>
    <span class="sr-only">Modifier le document [nom du document]</span>
</button>
<button type="button" class="btn btn-actions" title="Supprimer le document [nom du document]">
    <span class="icon-supprimer" aria-hidden="true"></span>
    <span class="sr-only">Supprimer le document [nom du document]</span>
</button>