<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary btn-icon-right btn-next">
            <span class="btn-text">Suivant</span><span class="sr-only"> : aller à l'étape [n° et nom de l'étape]</span>
            <span class="icon-arrow-double-right" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-outline-primary btn-icon-left btn-prev">
            <span class="icon-arrow-double-left" aria-hidden="true"></span>
            <span class="btn-text">Précédent</span><span class="sr-only"> : aller à l'étape [n° et nom de l'étape]</span>
        </button>

        <button type="button" class="btn btn-outline-primary btn-save">
            <span class="btn-text">Enregistrer</span><span class="sr-only"> l'état actuel de votre saisie</span>
        </button>
    </div>
</div>