<div class="btn-group justify-content-center d-flex">
    <button type="button" class="btn btn-primary">Button center</button>
    <button type="button" class="btn btn-secondary">Button center</button>
</div>