<div class="btn-group justify-content-center d-flex">
    <a href="#" class="btn-download">
        <span>Télécharger le récapitulatif de ma demande</span>
        <small>(PDF - 508 ko)</small>
    </a>
</div>