<button type="button" class="btn btn-outline-primary">Outline primary</button>
<button type="button" class="btn btn-outline-secondary">Outline secondary</button>
<button type="button" class="btn btn-outline-primary btn-outline-transparent">Outline primary + outline transparent</button>