::-ms-reveal,
::-ms-clear {
  display: none !important;
}

.hideShowPassword-toggle {
    // hide text
    text-indent: -999em;
    overflow: hidden;
    white-space: nowrap;

    padding: 0 1.5rem;
    height: 100%;

    border-left: solid $input-border-width $input-border-color;

    @include icon(before, icon-eye) {
        float: left;
        text-indent: 0;

        font-size: 2rem;
        color: $primary;
    }
}

.hideShowPassword-toggle-hide {
    @include icon(before, icon-eye-blocked, false);
}

.hideShowPassword-field.is-invalid,
.hideShowPassword-field.error {
    + .hideShowPassword-toggle {
        right: 3rem !important;
    }
}